---------------------------------------------
-- THE VIOLET PROJECT - CONFIGURATION FILE --
---------------------------------------------

-------------------------
-- Connection Settings --
-------------------------
-- maxPlayers: set to 0 for no limit
ip = "127.0.0.1"
bindOnlyGlobalAddress = false
loginProtocolPort = 7171
gameProtocolPort = 7172
statusProtocolPort = 7171
maxPlayers = 0
motd = "The Violet Project!\n\nVersion 2.0"
onePlayerOnlinePerAccount = true
allowClones = false
serverName = "Violet"
statusTimeout = 5000
replaceKickOnLogin = true

-----------------------------
-- MySql Database Settings --
-----------------------------
mysqlHost = "127.0.0.1"
mysqlUser = "root"
mysqlPass = "tibia"
mysqlDatabase = "tibia"
mysqlPort = 3306
mysqlSock = ""
mysqlUseSSL = true

------------------------------
-- Protocol Status Settings --
------------------------------
ownerName = "Alejandro Mujica"
ownerEmail = "alejandromujica.rsm@gmail.com"
url = "https://otland.net/members/ezzz.79044/"
location = "Venezuela"

-------------------------------------
-- Process Priority (Windows only) --
-------------------------------------
-- defaultPriority: "normal", "above-normal", "high"
defaultPriority = "high"
startupDatabaseOptimization = false

------------------
-- Map Settings --
------------------
logSectorSystem = true
origSectorPath = "data/map-sectors/"
mapName = "map"
mapAuthor = "Ezzz & CipSoft"

-- Allow saving of live map data (items trash in non-refreshable tiles)
enableMapDataFiles = true

--------------------------
-- Map Refresh Settings --
--------------------------
-- mapRefreshTileVisibilityInterval: players near such tiles do not refresh for the given interval
enableMapRefresh = true
mapRefreshInterval = 1 * 60 * 1000
mapRefreshTilesPerCycle = 32 * 32
mapRefreshTileVisibilityInterval = 60 * 60 * 1000

---------------------
-- Combat Settings --
---------------------
-- worldType options: "pvp", "no-pvp" and "pvp-enforced".
-- deathLosePercent: use -1 for modern Tibia formula. 10 for oldschool formulas.
-- banDaysLength: total days to ban the player when exceeding killsToBan
-- onlyOneFragPerKill: if true, either last hit or most damage gets the unjust, 
-- 					   most damage only gets unjust if there is no valid last hit or it was a justified last hit
worldType = "pvp"
protectionLevel = 1
banDaysLength = 30
pzLocked = 60000
onlyOneFragPerKill = false
removeChargesFromRunes = true
removeChargesFromPotions = true
removeWeaponAmmunition = true
removeWeaponCharges = true
redSkullDuration = 30 * 24 * 60 * 60
killsDayRedSkull = 3
killsWeekRedSkull = 5
killsMonthRedSkull = 10
killsDayBanishment = 6
killsWeekBanishment = 10
killsMonthBanishment = 20
whiteSkullTime = 15 * 60
experienceByKillingPlayers = false
pvpExpFormula = 10
deathLosePercent = 10
allowUnfairFightDeathReduction = false
useClassicCombatFormulas = true

--------------------
-- House Settings --
--------------------
-- housePriceEachSQM: use -1 to disable the ingame buy house functionality
-- houseRentPeriod options: "daily", "weekly", "monthly", "yearly", "none" to disable rents
-- houseTransferItems: transfer houseitems when ownership is transferred
-- houseCleanBeds: when changing house ownership beds are cleaned up
-- houseClearDoors: when changing house ownership door rights are cleaned up
housePriceEachSQM = -1
houseRentPeriod = "monthly"
houseOwnedByAccount = false
houseDoorShowPrice = false
onlyInvitedCanMoveHouseItems = false
onlyInvitedCanAddHouseItems = false
housesBankSystem = false
guildHallsOnlyForLeaders = true
housesOnlyPremium = true
houseTransferItems = false
houseCleanBeds = false
houseClearDoors = false

-------------------
-- Game Settings --
-------------------
serverSaveTime = "04:30:00"
-- defaultWorldLight: set to false to have a static world light
defaultWorldLight = true
timeBetweenActions = 100
timeBetweenExActions = 1000
allowChangeOutfit = true
freePremium = false
kickIdlePlayerAfterMinutes = 15
maxMessageBuffer = 2500
emoteSpells = false
showScriptsLogInConsole = false
yellMinimumLevel = 2
yellAlwaysAllowPremium = false
forceMonsterTypesOnLoad = false
luaItemDesc = false
staminaSystem = false
showPlayerLogInConsole = true
disabledMailboxes = "Rookgaard,Isle of Solitude"
vipFreeLimit = 20
vipPremiumLimit = 100
depotFreeLimit = 1000
depotPremiumLimit = 2000
removeOnDespawn = false
playerInventoryAutoStack = false
showMonsterLootMessage = false
monstersSpawnWithLoot = true
classicPlayerLootDrop = true
tileItemLimit = 1000
houseTileItemLimit = 100
classicInventorySwap = true
allowMonsterOverspawn = true

-- Tibia 8.1+ this is false.
-- If you have a tile with 50 gold, and you try to add 70 gold
-- Or any quantity of gold that would make it surpass 100
-- The items will not merge and instead will be treated as different objects.
tileOldschoolItemStacking = true

-- Multi-floor monster respawn blocking
-- 8.1+ this is set to false.
-- Underground blocks respawn +2 and -2 floors
-- Groundfloor player blocks respawning +7 floors above.
spawnMultifloorRespawnBlock = true

-- Tibia 8.1 and less has this as "true"
-- This means that if a monster is trying to respawn but there is a player around
-- It will not respawn and the timer will reset to whatever respawn time it has again.
-- This results in slower respawn time in general.
-- Every OT sets this to "false" for modern Tibia behavior.
spawnsResetTimerOnFailedSpawn = true

-- Tibia 8.1+ has this as false
spawnOneMonsterAtATime = true

-- Show aggressive spell effects in protection areas as a GM? 
-- Default: false
gamemasterDamageProtectOnZoneEffects = false

-- Monsters invisibile is not a real invisible but rather a blank outfit (when using Tibia classic client they can hack this by using bots)
-- You can also look at creatures that are invisible
-- Keep as true for classic Tibia experience
classicMonsterInvisibility = true

-- Max number of containers a player may open
-- Default: 15, max: 254, consider using a higher number when using OTC=
maxOpenContainers = 15

-- When looking at a house door with an item, shall it display house info or the item's ?
houseDoorsDisplayHouseInfo = false

-- Allow searching for a valid container inside inner containers of a player?
-- This only applies for using an item from a distance
deepPlayerContainerSearch = false 

-- Allow sending parcels and letters with trash on top of mailboxes
trashableMailbox = true

-- Failed account login attempts to disable an account and ban IP-Address
-- Use 0 to disable.
failedLoginAttemptsAccountLock = 10
failedLoginAttemptsIPBan = 15

accountLockDuration = 5 * 60 * 1000
ipLockDuration = 30 * 60 * 1000

ipLockMessage = "IP address blocked for 30 minutes. Please wait."
accountLockMessage = "Account disabled for five minutes. Please wait."

-- If the OTBM map has been updated, upon login, player will be sent to the temple.
uponMapUpdateSendPlayersToTemple = true

-- Allow items to permanently decay inside player depots without the need of the player being next to the depot?
-- False: items only decay if the player can access the depot
-- True: the items decay at all times even if the player is not around
itemsDecayInsideDepots = false

-- When a player uses a rune on the ground into a creature, if the creature walks or whatever
-- The rune will be used on the creature.
-- Default: true (RealOTS & Tibia)
allowRuneAimBotFromDistance = true

-- 7.4 : false (one monster per spawn cycle check)
-- 7.7+ : true (all monsters will spawn per spawn cycle check)
spawnAllMonstersPerSpawn = false

-- Players inside any patched sector will be teleported to their temple.
templePlayersInPatchedSectors = true

--------------------
-- Rooking System --
--------------------
allowPlayerRooking = true
rookingLevel = 5
rookTownName = "Rookgaard"

-------------------
-- Rate Settings --
-------------------
-- rateSpawn: increases respawn time by the given percentage, 50 = 50% faster respawn time
rateExp = 1
rateSkill = 1
rateLoot = 1
rateMagic = 1
rateSpawn = 0

-----------------
-- LUA Scripts --
-----------------
warnUnsafeScripts = true
convertUnsafeScripts = true

-------------------------------
-- Test Environment Settings --
-------------------------------
-- Set to true to enable the default behavior of Tibia of learning spells
-- This makes it so all spells are learned by default
needLearnSpells = true
-- Disables all spell requirements for all players
noSpellRequirements = false
-- Disable players losing HP or MP
unlimitedPlayerHP = false
unlimitedPlayerMP = false
-- Disable monster spawns
disableMonsterSpawns = false

-- EXPERIMENTAL FEATURES --
gameBeatSimulation = true